.main {
    overflow: hidden;
    padding: 2%;
}

.formulaire-container {
    text-align: center;
    padding: 4% 0% 4% 0%;
    width: 70%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 1px 3px 20px 0px #c3bcbc;
}

.slogon {
    width: 62%;
    margin: auto;
    color: grey;
}

.formControl {
    margin-top: 10px;
}

.check {
    width: '20px';
    height: '20px';
}

.buttons {
    background-color: #36b598;
    border: #5ad9d9;
    border-radius: 8px;
    width: 70%;
    height: 8%;
    margin-top: 10px;
    font-size: 23px;
    font-weight: 500;
    text-align: center;
    box-shadow: 1px 1px 10px 1px #f1edff;
}

.buttons:hover {
    background-color: #21de14;
}

.button:hover {
    background-color: #29a4db;
}

.button {
    background-color: #35528a;
    border: #5ad9d9;
    border-radius: 8px;
    width: 70%;
    height: 8%;
    margin-top: 10px;
    font-size: 23px;
    font-weight: 500;
    text-align: center;
    box-shadow: 1px 1px 10px 1px #f1edff;
}